POSTGRES_DB=basecnpj
POSTGRES_USER=basecnpj
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_HOST=db
POSTGRES_PORT=5432

PORTA_API=8006
PORTA_POSTGRES=5436

DATA_DIR=/data
FONTE_ZIP=https://file.opencnpj.org/releases/receita/data.zip

INGEST_WORKERS=4

# DATA_VOLUME=./data   # so para escrever o zip/ndjson no host; e bem mais lento
